html, body {
    background-color: #EAEBED;
    color: #006989;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

p {
    font-size: 1.2em;
}

textarea, input {
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    border-color: none ;
    padding: 15px;
    resize: none;
    border-color: transparent;
}

textarea:focus, input:focus {
    border-color: #006989 ;
    border-radius: 10px ;

}

/* input {
    font-size: 1.2rem;
    border-radius: 0.3em;
    padding: 10px;
} */

button {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #006989;
    background: #fff;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    border: 2px solid #006989;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #006989;
    font-size: 1em;
    user-select: none; /* Standard syntax */
  }
  
button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #006989;
  }


#nav-bar {
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
}

#nav-bar div {
    display: flex;
    justify-content: space-between;
    gap: 50vw;
    padding: 10px;
}

#nav-bar h1 {
    font-size: 2em;
    letter-spacing: 6px;
    color: #006989;
    margin-top: 0px;
    margin-bottom: 0px;
}

.flex-space-even {
    display: flex;
    justify-content: space-evenly;
}

.flex-space-even input {
    width: 35% !important; 
    margin: 0px 5px 0px 0px;
}

#publish-button {
    width: 30% !important;
    background: #006989;
    color: #EAEBED;
}

#publish-button:hover {
    width: 30% !important;
    background: #EAEBED !important;
    color: #006989 !important;
    box-shadow: inset 0 -100px 0 0 #EAEBED;

}

#main-content {
    margin: auto;
    width: 60%;
}

/* .ta-center {
    text-align: center;
} */

#text-input {
    /* height: 200px; */
    width: 94%;
    margin: 10px 0px;
    border-style: solid;
}
  
#input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#input-container div {
    width: 100%;
}

#post-lists { 
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 0%;
}

li {
    flex: 1;
}

li div {
    /* display: flex;
    flex-direction: column; */
    background-color: #fff;
    padding: 15px;
    min-width: 300px;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#mainCardDiv:hover {
    background-color: #0092bf;
    color: #ffffff;
    transition: 170ms ease-in;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;}

li h3 {
    font-size: 1.4em;
}

li h4 {
    font-size: 1.2em;
}

li p {
    font-size: 1em;
}

ul {
    list-style-type: none;
    color: black;
    /* padding: 20px; */
}

hr {
}

@media (max-width: 635px) {
    #main-content {
        margin: 20px;
        width: auto;
    }

    /* li div {
    width: 90vw;
    } */

    #mainCardDiv {
        margin: 10px 0px;
    }

    #nav-bar div {
        gap: 0;
        flex: 1;
        margin: 10px;
    }
}